<style>
  .small {
    font-size: 1em;
  }
  .medium {
    color: rebeccapurple;
    font-size: 2em;
  }
  .big {
    color:royalblue;
    font-size: 4em;
  }

  span:hover {
    color: green;
  }
</style>

<p>
  Download Icon
  <span class="small">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=download></x-icon>
  </span>
  <span class="medium">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=download></x-icon>
  </span>
  <span class="big">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=download></x-icon>
  </span>
</p>

<p>
  Headset Icon
  <span class="small">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=headset></x-icon>
  </span>
  <span class="medium">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=headset></x-icon>
  </span>
  <span class="big">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=headset></x-icon>
  </span>
</p>

<p>
  User Icon
  <span class="small">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=user></x-icon>
  </span>
  <span class="medium">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=user></x-icon>
  </span>
  <span class="big">
    <x-icon data-resources="[{paths: ['components/XIcon/index.js']}]" icon=user></x-icon>
  </span>
</p>



