<div class="section"></div>
<section>
    <div class="row row--reducedWidth">
        <div class="col col--medium-12">
            <h1>Stage Component</h1>
            <h2>Fit image from the center</h2>
        </div>
    </div>
</section>
</div>
<div class="section">
    <section>
        <x-stage class="component" text='{
                "headline":"Sprechanlagen für Außen",
                "claim":"Alles was der Eingang braucht.",
                "secondaryColor": false
            }' image='{
                "url": "../../../_assets/puffu.jpg",
                "alt":"Dynamic Alt Text",
                "align": "center"
            }' data-resources="[{paths: ['components/XStage/index.js']}]">
        </x-stage>
    </section>
</div>
<section>
</section>
<div class="section">
    <section>
        <div class="row row--reducedWidth">
            <div class="col col--medium-12">
                <h2>Fit image from the top</h2>
            </div>
        </div>
        <x-stage class="component" text='{
                "headline":"Sprechanlagen für Außen",
                "claim":"Alles was der Eingang braucht.",
                "secondaryColor": false
            }' image='{
                "url": "_assets/XStage/test1600x1200.png",
                "alt":"Dynamic Alt Text",
                "align": "top"
            }' data-resources="[{paths: ['components/XStage/index.js']}]">
        </x-stage>
    </section>
</div>
<div class="section">
    <section>
        <div class="row row--reducedWidth">
            <div class="col col--medium-12">
                <h2>Fit image from the bottom</h2>
            </div>
        </div>
        <x-stage class="component" text='{
                "headline":"Sprechanlagen für Außen",
                "claim":"Alles was der Eingang braucht.",
                "secondaryColor": false
            }' image='{
                "url": "_assets/XStage/test1600x1200.png",
                "alt":"Dynamic Alt Text",
                "align": "bottom"
            }' data-resources="[{paths: ['components/XStage/index.js']}]">
        </x-stage>
    </section>
</div>
<div class="section">
    <section>
        <div class="row row--reducedWidth">
            <div class="col col--medium-12">
                <h2>Secondary text color</h2>
            </div>
        </div>
        <x-stage class="component" text='{
                "headline":"Sprechanlagen für Außen",
                "claim":"Alles was der Eingang braucht.",
                "secondaryColor": true
            }' image='{
                "url": "_assets/XStage/test1600x1200.png",
                "alt":"Dynamic Alt Text",
                "align": "bottom"
            }' data-resources="[{paths: ['components/XStage/index.js']}]">
        </x-stage>
    </section>
</div>